@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2');
}
:root {
  --color-primery-dark: #31261a;
  --color-primery-light: #faf4ea;
  --color-brand-normal: #819b57;
  --color-brand-light: #cfcfbc;
  --color-brand-dark: #465929;
  --color-secondary-dark: #a18268;
}
* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-primery-light);
  color: var(--color-primery-dark);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #666;
}
address {
  text-decoration: none;
  font-style: normal;
}
h1 h2 h3 h4 h5 h6 p {
  margin-top: 0;
}
header {
  margin-top: 34px;
}
.container {
  width: 100%;
  max-width: 1488px;
  margin: 0 auto;
  padding: 0 24px;
}
.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section {
  padding: 48px 0;
}
.traditions-section {
  padding-top: 96px;
}
.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.traditions-contant {
  max-width: 710px;
}
.traditions-title {
  margin-bottom: 42px;
}
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

.button {
  padding: 16px 32px;
  color: var(--color-primery-light);
  font-weight: 600;
  border: 2px solid var(--color-brand-normal);
  background-color: var(--color-brand-normal);
  border-radius: 8px;
  cursor: pointer;
}
.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}

.link {
  color: var(--color-primery-light);
}
.link:hover {
  color: var(--color-brand-normal);
  font-weight: 600;
}
.hero-background {
  background-image: linear-gradient(
      103deg,
      rgba(18, 18, 17, 0.78) 2.03%,
      rgba(18, 18, 17, 0.6) 58.46%,
      rgba(18, 18, 17, 0) 90.36%
    ),
    url(../icon/header.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  border: 1px solid black;
}
.hero-saction {
  padding: 272px 0;
}
.hero-titel {
  margin-bottom: 0;
  color: var(--color-primery-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
  margin: 0 auto;
}
.accent {
  color: var(--color-brand-normal);
}
.accent-dark {
  color: var(--color-brand-dark);
}

.advantages-saction {
  padding: 16px 0;
  background: var(--color-brand-normal);
}
.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.advantages-item {
  color: var(--color-primery-light);
  backdrop-filter: blur(2px);
  font-size: 20px;
  font-weight: 300;
}

.section-title {
  color: var(--color-primery-dark);
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
  margin: 0 auto;
}
.section-title.centered {
  text-align: center;
}
.shiefs-titel {
  position: relative;
  width: 538px;
  max-width: 900px;
  margin-bottom: 80px;
}
.shief-before::before,
.shief-before::after {
  display: block;
  width: 352px;
  border: 2px solid var(--color-brand-light);
  content: '';
}
.shief-before::before {
  position: absolute;
  left: -360px;
  bottom: 24px;
}
.shief-before::after {
  position: absolute;
  right: -360px;
  bottom: 24px;
}
.shief-titel {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
  margin-top: 0px;
}
.shief-text p {
  margin-bottom: 24px;
}
.shief-text p:last-child {
  margin-bottom: 0;
}
.shief-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.shief-imeg {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primery-light),
    -16px 16px 0 2px var(--color-secondary-dark);
}
.carousel-list {
  display: flex;
  align-items: center;
  gap: 32px;
}
.carousel-buttom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--color-primery-dark);
  cursor: pointer;
}
.carousel-buttom:hover {
  background-color: var(--color-primery-dark);
}
.carousel-icon {
  fill: var(--color-primery-dark);
}
.carousel-icon .transform {
  transform: scaleX(-1);
}
.carousel-buttom:hover .carousel-icon {
  fill: var(--color-primery-light);
}
.forms-titel {
  margin-bottom: 80px;
}
.form-titel {
  font-size: 24px;
  font-weight: 600;
}
.form-text {
  font-size: 14px;
  font-weight: 300;
}
.contact-section {
  padding-bottom: 96px;
}
.contact-title {
  margin-bottom: 16px;
  color: var(--color-primery-dark);
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
  margin: 0 auto;
}
.contact-menu {
  display: flex;
  gap: 32px;
  justify-content: space-between;
}
.map {
  flex-shrink: 0;
  border-radius: 16px;
  border: none;
}
.contact-item {
  text-align: left;
}
.formats-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}
.format-card {
  /* background-image: url('../icon/format1.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover; */
  height: 444px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primery-dark) 100%
  );
  border: 1px solid lightgray; /* remove */
  border-radius: 16px;
  padding: 24px;
}

/* footer text */
.address-link {
  color: var(--color-primery-light);
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 12px;
}
.address-link:hover {
  color: var(--color-brand-normal);
}
.address-copyright {
  color: #a18268;
  font-size: 14px;
  font-weight: 400;
}
.text {
  text-decoration: underline;
}
.traditions-text span {
  text-transform: uppercase;
  font-weight: 600;
}

.footer {
  background-image: url('../icon/footer-fon.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-color: var(--color-primery-dark);
  padding: 32px 0;
  position: relative;
  overflow: hidden;
}
.footer-titel {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}
.footer-item {
  margin-bottom: 16px;
}
.footer-contact {
  margin-bottom: 12px;
}
.address-icon {
  fill: var(--color-primery-light);
}
.address-icon:hover {
  fill: var(--color-brand-normal);
}
.address-logo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* margin: 0;
  padding: 0; */
}
.flex-logo {
  margin: 4px 22px;
  margin-left: 0px;
}
.footer::before {
  position: absolute;
  background-image: url('../icon/decor-bread-big.png');
  background-repeat: no-repeat;
  width: 180px;
  height: 342px;
  background-size: 100%;
  left: -44px;
  top: 150px;
  content: '';
}
.footer::after {
  position: absolute;
  background-image: url('../icon/decor-bread-smoll.png');
  background-repeat: no-repeat;
  width: 305px;
  height: 330px;
  background-size: 100%;
  top: 114px;
  right: 110px;
  content: '';
}

/* MODAL */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: relative;
  width: 880px;
  height: 880px;
  background-color: var(--color-primery-light);
  border-radius: 32px;
}
.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
}
