:root {
    --color-primery-dark: #31261a;
    --color-primery-light: #faf4ea;
    --color-brand-normal: #819b57;
    --color-brand-light: #cfcfbc;
    --color-brand-dark: #465929;
    --color-secondary-dark: #a18268;
}