.accent {
    color: var(--color-brand-normal);
}

.accent-dark {
    color: var(--color-brand-dark);
    margin: 0;
}

.accent-dark.main {
    margin-top: 16px;
}

.accent-dark.centered {
    text-align: center;
}