.traditions-section {
    padding-top: 96px;
}

.traditions-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.traditions-contant {
    max-width: 710px;
}

.traditions-title {
    margin-bottom: 42px;
}