
.slider{
    display: flex;
    align-items: center;
    gap: 32px;
}

.carousel-list{
overflow: hidden;
}

.carousel-buttom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    padding: 0;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid var(--color-primery-dark);
    cursor: pointer;
    transition: background-color 0.3s;

    @media screen and (max-width: $bp-mobile) {
            display: none;
        }
}

.carousel-buttom:hover {
    background-color: var(--color-primery-dark);
}

.carousel-icon {
    fill: var(--color-primery-dark);
    transition: fill 0.3s;
}

.carousel-icon.transform {
    transform: rotate(180deg);
}

.carousel-buttom:hover .carousel-icon {
    fill: var(--color-primery-light);
}

.swiper-list{
    margin-bottom: 32px;
}