.footer {
    background-image: url('../icon/footer-fon.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-color: var(--color-primery-dark);
    padding: 32px 0;
    position: relative;
    overflow: hidden;
}

.footer-titel {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    @media screen and (max-width: $bp-tablet) {
           flex-direction: column;
        }
}

.footer-item {
    margin-bottom: 16px;
    @media screen and (max-width: $bp-tablet) {
            margin: 0 auto;
        }
}

.footer-contact {
    margin-bottom: 12px;
}

.footer::before {
    position: absolute;
    background-image: url('../icon/decor-bread-big.png');
    background-repeat: no-repeat;
    width: 180px;
    height: 342px;
    background-size: 100%;
    left: -44px;
    top: 150px;
    content: '';
    @media screen and (max-width: $bp-tablet) {
        left: -54px;
        transform: rotate(16deg);
        }
}

.footer::after {
    position: absolute;
    background-image: url('../icon/decor-bread-smoll.png');
    background-repeat: no-repeat;
    width: 305px;
    height: 330px;
    background-size: 100%;
    top: 114px;
    right: 0;
    content: '';
    @media screen and (max-width: $bp-tablet) {
        top: 400px;
        right: -100px;
        }
}

.footer-list{
        @media screen and (max-width: $bp-tablet) {
                margin: 0 auto;
            }
}